:root {
    --fundo: rgb(250, 255, 250);
    --fundoSelecionado: #ccc;
    --corDaFonte: #333;
    --contornoDoBotao: #777;
    --contornoDoBotaoSelecionado: #555;
    --padraoVermelho: #f00;
    --fundoVerde: rgb(200, 255, 200);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: 12px;
    outline: none;
    margin: 0;
}

#divGuiaButtons button {
    border: 1px solid var(--contornoDoBotao);
    padding: 5px;
    margin-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#divParametros{
    margin: 20px auto;
    width: 600px;
}

#cmdOcultarCotas, #cmdCriarPDF {
    margin: 10px auto;  
    display: block;
    box-shadow: 3px 3px 10px grey;
}
.visivel{
    display: inline-block;
}
.invisivel{
    display: none;
}

#fldStatus textarea {
    width: 100%;
    min-width: 584px;
    max-width: 584px;
    cursor: context-menu;
    color: var(--contornoDoBotaoSelecionado);
}

.btnDeGuia {
    background-color: var(--fundo);
}

.btnDeGuiaSelecionado {
    background-color: var(--fundoSelecionado);
}

.guiaContainer {
    border: 1px solid var(--contornoDoBotao);
    vertical-align: top;
}

#dtDia,
#selEscalaFalta {
    margin-left: 23px;
}

#divEscalas, #divPlanilha{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    width: 100%;
}

fieldset {
    margin: 3px;
    padding: 3px;
}

#fldArquivos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

#fldArquivos label {
    border: 1px solid var(--contornoDoBotao);
    text-align: center;
}

#fldSiape button,
#fldSiape input {
    width: 100%;
    border: 1px solid var(--contornoDoBotao);
    margin-block: 3px;
}

#txtSiape{
    text-align: center;
}

#fldGrupo{
    grid-column-start: 1;    
    grid-column-end: 2;
}

#fldEscalaHorario{
    grid-column-start: 3;    
    grid-column-end: 4;
}

#fldOperacao{
    grid-column-start: 1;    
    grid-column-end: 4;
}

#fldAcaoEscalas,
#fldPlanilhaGrupo,
#fldPlanilhaOperacao,
#fldAvancadoOperacao {
    grid-column-start: 1;
    grid-column-end: 4;
}

#fldAvancadoGrupo{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    gap: 5px;
}

#fldAvancadoGrupo textarea{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

#cmdAvancadoExibirGrade{
    border: 1px solid black;
    box-shadow: 3px 3px 10px blue;
    border-radius: 5px;
}

#cmdAvancadoAlterar{
    border: 1px solid black;
    box-shadow: 3px 3px 10px red;
    border-radius: 5px;
}

#fldAvancadoGrupo #selTipoDeGrade,
#fldAvancadoGrupo #cmdAvancadoExibirGrade{
    grid-column-start: 3;
    grid-column-end: 4;
}

#fldAvancadoGrupo label{
    display: grid;
}

#fldAvancadoTempo, 
#fldPlanilhaTempo{
    grid-column-start: 1;
    grid-column-end: 2;
}

#fldAcoesPlanilha{
    grid-column-start: 2;
    grid-column-end: 4;
}

#cmdExibirPlanilha{
    grid-column-start: 1;
    grid-column-end: 3;
}

#cmdExibirPlanilhaGrade{
    grid-column-start: 3;
    grid-column-end: 4;
}

#fldGrupo select,
#fldEscalaHorario select,
#fldOperacao select,
#fldGbmDestino select,
#fldFaltaOperacao select,
#fldPlanilhaGrupo select,
#fldPlanilhaOperacao select,
#fldPlanilhaTempo select,
#fldAvancadoOperacao select,
#fldAvancadoTempo select {
    width: 100%;
}

#fldAcaoEscalas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

#fldAcoesFaltas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

#fldAcoesInscritos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

#fldAcoesPlanilha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

button,
#fldArquivos label {
    border: 1px solid var(--contornoDoBotao);
    transition: 250ms;
}

button:hover,
#fldArquivos label:hover {
    background-color: var(--fundoSelecionado);
    border-color: var(--contornoDoBotaoSelecionado);
    transition: 500ms;
}

button:active,
#fldArquivos label:active {
    background-color: var(--padraoVermelho);
}

.alertar{
    background-color: var(--padraoVermelho);
    transition: 500ms;
}





/*div para alterações de dados*/
.divEditar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    pad: 10px;
    background-color: var(--fundo);border: 15px solid var(--contornoDoBotao);
    box-shadow: 5px 5px 15px var(--contornoDoBotaoSelecionado);
    z-index: 10;
}

.fldEditar *
{
    display: grid;
}

#fldEditarInfo,
#fldEditarAcao{
    grid-column-start: 1;
    grid-column-end: 3;

}

.divEditar input,
.divEditar select{
    font-weight: bold;
}

.divDialogoEdicao{
    display: block;
    position: fixed;
    width: 600px;
    bottom: 10%;
}

.fldEditarAcao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}