:root {
    --fundo: rgb(250, 255, 250);
    --fundoSelecionado: #ccc;
    --corDaFonte: #333;
    --contornoDoBotao: #777;
    --contornoDoBotaoSelecionado: #555;
    --padraoVermelho: #f00;
    --fundoVerde: rgb(200, 255, 200);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: 12px;
    outline: none;
    margin: 0;
}

#divGuiaButtons button {
    border: 1px solid var(--contornoDoBotao);
    padding: 5px;
    margin-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#divParametros {
    margin: 20px auto;
    width: 600px;
}

#fldStatus textarea {
    width: 100%;
    min-width: 584px;
    max-width: 584px;
    cursor: context-menu;
    color: var(--contornoDoBotaoSelecionado);
}

.btnDeGuia {
    background-color: var(--fundo);
}

.btnDeGuiaSelecionado {
    background-color: var(--fundoSelecionado);
}

.guiaContainer {
    border: 1px solid var(--contornoDoBotao);
    vertical-align: top;
}

#dtDia {
    margin-left: 23px;
}

#divEscalas, #divPlanilha{
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    width: 100%;
}

fieldset {
    margin: 3px;
    padding: 3px;
}

#fldArquivos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

#fldArquivos label {
    border: 1px solid var(--contornoDoBotao);
    text-align: center;
}

#fldSiape button,
#fldSiape input {
    width: 100%;
    border: 1px solid var(--contornoDoBotao);
    margin-block: 3px;
}

#txtSiape{
    text-align: center;
}

#fldGrupo{
    grid-column-start: 1;    
    grid-column-end: 2;
}

#fldOperacao{
    grid-column-start: 2;    
    grid-column-end: 3;

}

#fldAcaoEscalas,
#fldPlanilhaGrupo,
#fldPlanilhaOperacao,
#fldAvancadoOperacao {
    grid-column-start: 1;
    grid-column-end: 4;
}
#fldAvancadoGrupo{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    gap: 5px;
}

#fldAvancadoGrupo textarea{
    grid-column-start: 1;
    grid-column-end: 3;
}
#fldAvancadoGrupo label{
    display: grid;
}

#fldAvancadoTempo, 
#fldPlanilhaTempo{
    grid-column-start: 1;
    grid-column-end: 2;
}

#fldAcoesPlanilha{
    grid-column-start: 2;
    grid-column-end: 4;
}

#cmdExibirPlanilha{
    grid-column-start: 1;
    grid-column-end: 3;
}

#cmdExibirPlanilhaGrade{
    grid-column-start: 3;
    grid-column-end: 4;
}

#fldGrupo select,
#fldOperacao select,
#fldGbmDestino select,
#fldPlanilhaGrupo select,
#fldPlanilhaOperacao select,
#fldPlanilhaTempo select,
#fldAvancadoOperacao select,
#fldAvancadoTempo select {
    width: 100%;
}

#fldAcaoEscalas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

#fldAcoesFaltas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

#fldAcoesInscritos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

#fldAcoesPlanilha{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

button,
#fldArquivos label {
    border: 1px solid var(--contornoDoBotao);
    transition: 250ms;
}

button:hover,
#fldArquivos label:hover {
    background-color: var(--fundoSelecionado);
    border-color: var(--contornoDoBotaoSelecionado);
    transition: 500ms;
}

button:active,
#fldArquivos label:active {
    background-color: var(--padraoVermelho);
}

.alertar{
    background-color: var(--padraoVermelho);
    transition: 500ms;
}