:root{
    --fundo:rgb(0, 0, 0);
    --fonte:rgb(255,255,255);
}
*{
    background-color: var(--fundo);
    color: var(--fonte);
}
body{
    display: grid;
    grid-template-columns: 25px 1fr 25px;
}
div{
    border: 1px solid pink;
}
#divMenuLateralEsquerdo{
    grid-column-start: 1;
    grid-column-end: 2;
    writing-mode: vertical-lr;
    direction: rtl;
}
#divMenuSuperior{
    grid-column-start: 2;
    grid-column-end: 3;
}
#divMenuLateralDireito{
    grid-column-start: 3;
    grid-column-end: 4;
}
#divAuxiliar{
    grid-column-start: 2;
    grid-column-end: 3;
}
#divResultado{
    grid-column-start: 2;
    grid-column-end: 3;
}